{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block addToDayForms %}
        <!-- Water -->
        {% if water == False %}
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createWater/" method='post'>
                {% csrf_token %}
                <button>Drank Water</button>
            </form>
        {% else %}
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/{{water.id}}/updateWater/" method='post'>
                {% csrf_token %}
                <button>Drank More Water</button>
            </form>
        {% endif %}
        <!-- Food -->
        {% if user.profile.food == 1 %}
            <button class="lgButton" onclick="openForm('UserFoodForm')">Open Food Form</button>
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createFood/" method="post" id="UserFoodForm" name="userFoodForm">
                {% csrf_token %}
                <section>
                    <label for="meal">Meal Time</label>
                    <select name="meal" id="">
                        <option value="">Please Chose</option>
                        {% for meal in meals %}
                            <option value="{{meal.name}}">{{meal.name}}</option>
                        {% endfor %}
                    </select>
                </section>
                <section>
                    <label for="foodCat">Choose a Food Category</label>
                    <select name="foodCat" id="foodCat" onchange="filterFoods()">
                        <option value="">Please Chose</option>
                        {% for cat in categories %}
                            <option value="{{cat.name}}" id="{{cat.id}}">{{cat.name}}</option>
                        {% endfor %}
                        <option value="All" id="catAll">All</option>
                    </select>
                </section>
                <section>
                    (Use add Food Bank form if item not listed)
                    <label for="foodItem">Food Item</label>
                    <select name="foodItem" id="foodItemSelect">
                    </select>
                </section>
                <section>
                    <label for="servings">Serving Count</label>
                    <input type="number" name="servings">
                </section>
                <section>
                    <label for="comments">Notes</label>
                    <textarea name="comments" id="" cols="30" rows="10"></textarea>
                </section>
                <button>Add Food</button>
            </form>
        {% endif %}

        <!-- Medication -->
        {% if user.profile.meds == 1 %}
            <button class="lgButton" onclick="openForm('UserMedForm')">Open Medication Form</button>
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createMed/" method="post" id="UserMedForm">
                {% csrf_token %}
                <section>
                    <label for="when">Time Taken</label>
                    <input type="datetime-local" name="when" id="">
                </section>
                <section>
                    <label for="dose">What Dose</label>
                    <input type="text" name="dose" id="">
                </section>
                <section>
                    <label for="Medication">Medication</label>
                    <select name="medication" id="">
                        <option value="">Please Chose</option>
                        {% for m in mList %}
                            <option value="{{m.id}}">{{m.name}} {{m.freq}}</option>
                        {% endfor %}
                    </select>
                </section>
                <button>Add Medication Taken</button>
            </form>
        {% endif %}
        <!-- Sugar -->
        {% if user.profile.diabetic == 1 %}
            <button class="lgButton" onclick="openForm('UserSugarForm')">Open Sugar Readings Form</button>
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createSugar/" method="post" id="UserSugarForm">
                {% csrf_token %}
                <section>
                    <label for="time">Time Taken</label>
                    <input type="time" name="time" id="">
                </section>
                <section>
                    <label for="level">Reading</label>
                    <input type="number" name="level" id="">
                </section>
                <section>
                    <label for="testSite">Test Site Location</label>
                    <input type="text" name="testSite" value="Finger Stick">
                </section>
                <button>Add Sugar Reading</button>
            </form>
        {% endif %}
    
        <!-- Journal -->
        {% if user.profile.journal == 1 %}
            {% if journal == False %}
                <button class="lgButton" onclick="openForm('UserJournalForm')">Open Journal Form</button>
                <form action="/logs/week/{{week.id}}/day/{{day.id}}/createJournal/" method="post" id="UserJournalForm">
                    {% csrf_token %}
                    <section>
                        <label for="title">Title of Entry</label>
                        <input type="text" name="title">
                    </section>
                    <section>
                        <label for="content">Entry</label>
                        <textarea name="content" id="" cols="30" rows="10"></textarea>
                    </section>
                    <button>Add Journal Entry</button>
                </form>
            {% endif %}
        {% endif %}
        <!-- Weather -->
        {% if user.profile.weather == 1 %}
            {% if user.profile.zipCode == 0 %}
                <button><a href="/user/profile">Please update your Zip Code</a></button>
            {% else %}
                <button class="lgButton" onclick="openForm('UserWeatherForm')">Open Weather Form</button>
                <form action="/logs/week/{{week.id}}/day/{{day.id}}/createConditions/" method="post" id="UserWeatherForm">
                    {% csrf_token %}
                    <input type="hidden" name="lat" value="{{user.profile.lat}}">
                    <input type="hidden" name="lon" value="{{user.profile.lon}}">
                    <button>Record Conditions</button>
                </form>
            {% endif %}
        {% endif %}
        <!-- Mood -->
        {% if user.profile.mood == 1 %}
            <button class="lgButton" onclick="openForm('moodForm')">Open Mood Form</button>
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createMood/" method="post" id="moodForm">
                {% csrf_token %}
                <section>
                    <i class="material-icons" id="emoji">
                        sentiment_satisfied
                    </i>
                    <input type="range" id="mood" name="feeling" min="0" max="4" value="2">
                </section>
                <section>
                    <label for="symptom">Symptom Feeling</label>
                    <select name="symptom" id="">
                        <option value="">Please Chose</option>
                        {% for s in sList %}
                            <option value="{{s.id}}">{{s.symptom}}</option>
                        {% endfor %}
                    </select>
                </section>
                <section>
                    <label for="comments">Comments (not required)</label>
                    <input type="text" name="comments" id="">
                </section>
                <button>Add Mood/Symptom</button>
            </form>
        {% endif %}
        <!-- Sleep -->
        {% if user.profile.sleep == 1 %}
            <button class="lgButton" onclick="openForm('UserSleepForm')">Open Sleep Log Form</button>
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createSleep/" method="post" id="UserSleepForm">
                {% csrf_token %}
                <section>
                    <label for="date">Date (Sleep Start)</label>
                    <input type="date" name="date" id="">
                </section>
                <section>
                    <label for="sleep">Time went to sleep</label>
                    <input type="time" name="sleep" id="">
                </section>
                <section>
                    <label for="wake">Time woke up</label>
                    <input type="time" name="wake" id="">
                </section>
                <button>Add Sleep times</button>
            </form>
        {% endif %}
        
        <!-- Weight -->
        {% if user.profile.weight == 1 %}
            <button class="lgButton" onclick="openForm('UserWeightForm')">Open Weight Tracking Form</button>
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createWeight/" method="post" id="UserWeightForm">
                {% csrf_token %}
                <section>
                    <label for="weight">Weight</label>
                    <input type="text" name="weight" id="">
                </section>
                <section>
                    <label for="unit">Units</label>
                    <select name="unit" id="">
                        <option value="">Please Chose</option>
                        {% for unit in weightUnits %}
                            <option value="{{unit.unit}}">{{unit.unit}}</option>
                        {% endfor %}
                    </select>
                </section>
                <button>Add Weight</button>
            </form>
        {% endif %}
        <!-- Fitness -->
        {% if user.profile.fitness == 1 %}
            <button class="lgButton" onclick="openForm('UserFitnessForm')">Fitness Form</button>
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createFitness/" method="post" id="UserFitnessForm">
                {% csrf_token %}
                <section>
                    <label for="duration">Length of Activity</label>
                    <input type="duration" name="" id="">
                </section>
                <button>Add Fitness Log</button>
            </form>
        {% endif %}
        <!-- Work -->
        {% if user.profile.work == 1 %}
            <button class="lgButton" onclick="openForm('UserWorkForm')">Work Form</button>
            <form action="/logs/week/{{week.id}}/day/{{day.id}}/createWork/" method="post" id="UserWorkForm">
                {% csrf_token %}
                <section>
                    <label for="hrs">Hours Worked</label>
                    <input type="number" name="hrs" placeholder="8">
                </section>
                <section>
                    <label for="mins">Minutes Worked</label>
                    <input type="number" name="mins" placeholder="30" step="15">
                </section>
                <section>
                    <label for="comments">Comments (not required)</label>
                    <textarea name="comments" id="" cols="30" rows="10"></textarea>
                </section>
                <section>
                    <label for="job">Work Done</label>
                    <input type="text" name="job" id="">
                </section>
                <button>Add Hours Worked</button>
            </form>
        {% endif %}
    





        
        
        
        
        
        
        
        
        
        
    {% endblock addToDayForms %}
</body>
</html>