{% load static %}
{% load customFilters %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block displayDay %}
        <div class="column">
            <!-- Water -->
            <h3>Water</h3>
            <table class="logTable">
                <tr>
                    <th>Consumed today</th>
                </tr>
                <tr>
                    <td>
                        {% if water == False %}
                            0
                        {% else %}
                            {{water.water}}
                        {% endif %}
                    </td>
                </tr>
            </table>
            <!-- Food -->
            {% if user.profile.food == 1 %}
                <h3>Food</h3>
                <table class="logTable">
                    <tr>
                        <th>Meal</th>
                        <th>Food</th>
                        <th>Calories x Servings</th>
                    </tr>
                    {% for food in foods %}
                        <tr>
                            <td>{% for m in meals %}
                                {% if m.name == food.meal %}
                                    {{m.name}}
                                {% endif %}
                            {% endfor %}</td>
                            {% for f in fList %}
                                {% if f.id == food.foodItem_id %}
                                    <td>{{f.food}}</td>
                                    <td>{{f.calories}} * {{food.servings}} = {{food.totalCals}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="2">Total for day</th>
                        <th>{{sum}}</th>
                    </tr>
                </table>
            {% endif %}
        </div>
        <div class="column">
            <!-- Medication -->
            {% if user.profile.meds == 1 %}
            <h3>Medication</h3>
            <table class="logTable">
                <tr>
                    <th>Medication</th>
                    <th>Dose</th>
                    <th>Time Taken</th>
                </tr>
                {% for med in meds %}
                    <tr>
                        <td>
                            {% for m in mList %}
                                {% if med.medication_id == m.id %}
                                    {{m.name}}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{med.dose}}</td>
                        <td>{{med.when}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <!-- Sugar -->
            {% if user.profile.diabetic == 1 %}
                <h3>Sugar Readings</h3>
                <table class="logTable">
                    <tr>
                        <th>Time Taken</th>
                        <th>Level</th>
                    </tr>
                    {% for sugar in sugars %}
                        <tr>
                            <td>{{sugar.time}}</td>
                            <td>{{sugar.level}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="column">
            <!-- Journal -->
            {% if journal != False %}
                <h3>Journal Entry</h3>
                <table class="logTable">
                    <tr>
                        <th>{{journal.title}}</th>
                    </tr>
                    <tr>
                        <td>{{journal.content}}</td>
                    </tr>
                </table>
            {% endif %}
            <!-- Weather -->
            {% if user.profile.weather == 1 %}
                <h3>Weather Logs</h3>
                <table class="logTable">
                    <tr>
                        <th>Temp</th>
                        <th>Pressure</th>
                        <th>Humidity</th>
                    </tr>
                    {% for o in observations %}
                        <tr>
                            <td>{{o.temp}}&#8457;</td>
                            <td>{{o.pressure}}mB</td>
                            <td>{{o.humidity}}&#8457;</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <!-- Mood -->
            {% if user.profile.mood == 1 %}
                <h3>Moods & Symptoms</h3>
                <table class="logTable">
                    <tr>
                        <th>Mood</th>
                        <th>Symptom</th>
                        <th>Comments</th>
                    </tr>
                    {% for mood in moods %}
                        <tr>
                            <td>
                                {% if mood.feeling == 0 %}
                                    <img src="{% static 'images/00.PNG'%}" alt="Bad Mood">
                                {% elif mood.feeling == 1 %}
                                    <img src="{% static 'images/01.PNG'%}" alt="Poor Mood">
                                {% elif mood.feeling == 2 %}
                                    <img src="{% static 'images/02.PNG'%}" alt="Ok Mood">
                                {% elif mood.feeling == 3 %}
                                    <img src="{% static 'images/03.PNG'%}" alt="Good Mood">
                                {% else %}
                                    <img src="{% static 'images/04.PNG'%}" alt="Great Mood">
                                {% endif %}
                            </td>
                            <td>
                                {% for s in sList %}
                                    {% if mood.symptom_id == s.id %}
                                        {{s.symptom}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{mood.comments}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="column">
            <!-- Sleep -->
            {% if user.profile.sleep == 1 %}
                {% if sleeps != False %}
                    <h3>Sleep Logs</h3>
                    <table class="logTable">
                        <tr>
                            <th>Date & Time Sleep Start</th>
                            <th>Date & Time Sleep End</th>
                            <th>Hours Slept</th>
                        </tr>
                        {% for sleep in sleeps %}
                            <tr>
                                <td>{{sleep.date}} {{sleep.sleep}}</td>
                                <td>{{sleep|updateDate}} {{sleep.wake}}</td>
                                <td>{{ sleep|hoursSlept }} hours</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}
            <!-- Weight -->
            {% if user.profile.weight == 1 %}
                    <h3>Weight</h3>
                <table class="logTable">
                    <tr>
                        <th>Todays Weight</th>
                    </tr>
                    {% for w in weights %}
                    <tr>
                        <td>{{w.weight}}{{w.unit}}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <!-- Fitness -->
            {% if user.profile.fitness == 1 %}
                <h3>Fitness Logs</h3>
                <table class="logTable">
                    <tr>
                        <th>Entry #</th>
                        <th>Activity</th>
                        <th>Duration of Activity</th>
                    </tr>
                    {% for workout in workouts %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{workout.name}}</td>
                            <td>{{workout.duration}}m</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="2">Total Activity</th>
                        <th>{{ workouts|activityTotal }}</th>
                    </tr>
                </table>
            {% endif %}
            <!-- Work -->
            {% if user.profile.work == 1 %}
                <h3>Work Logs</h3>
                <table class="logTable">
                    <tr>
                        <th>Entry #</th>
                        <th>Hours</th>
                        <th>Minutes</th>
                        <th>Job</th>
                    </tr>
                    {% for job in hours %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td colspan="2">
                                {{ job|convertToHoursMins }}
                            </td>
                            <td>{{job.job}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="2">Total Time Worked</th>
                        <th colspan="2">
                            {{ hours|workTotal}}
                        </th>
                    </tr>
                </table>
            {% endif %}
        </div>
    {% endblock displayDay %}
</body>
</html>






