{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <h1>Welcome {{user.fullName}}</h1>
        <div class="column deskColumm">
            <button id="showCreateWeek">Create New Week</button>
            <div id="hideCreateWeek">
                <form action="/logs/createWeek/" method='post' class="create">
                    {% csrf_token %}
                    <section>
                        <label for="title">Title</label>
                        <input type="text" name="title">
                    </section>
                    <section>
                        <input type="hidden" name="writer" value="{{user.id}}">
                    </section>
                    <button>Create Week</button>
                </form>
                <div class="calendar">
                    <iframe src="//widget.calendarlabs.com/v1/calendar.php?cid=1001&ver=1.2&uid=4034957853&c=8&l=en&cbg=F9E3FA66&cfg=000000&hfg=000000&hfg1=000000&ct=1&cb=1&cbc=F9E3FA&cf=verdana&cp=bottom&sw=0&hp=t&ib=0&ibc=&i=" width="170" height="155" marginwidth=0 marginheight=0 frameborder=no scrolling=no allowtransparency='true'>Loading...</iframe>
                    <h4>Calendar Widget by <a href="https://www.calendarlabs.com/" target="_blank" rel="nofollow">CalendarLabs</a></h4>
                </div>
            </div>
            <h2>Your Weeks</h2>
            <div class="row">
                {% for week in weeks %}
                    <div class="column">
                        <h3>{{week.title}}</h3>
                        <p>Created: {{week.createdAt}}</p>
                        <div class="row">
                            <button><a href="/logs/week/{{week.id}}/">View Week</a></button>
                            <button><a href="/logs/week/{{week.id}}/edit/">Edit Week</a></button>
                        </div>
                        <div>
                            {% for day in days %}
                                {% if day.week_id == week.id %}
                                    <p>{{day.day}} - {{day.date}} | <button><a href="/logs/week/{{week.id}}/day/{{day.id}}/">View</a></button></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <!-- Pagination links -->
                {% if weeks.has_previous %}
                    <!-- <button><a href="?page=1">First</a></button> -->
                    <button><a href="?page={{ weeks.previous_page_number }}">Previous</a></button>
                {% endif %}
                <span>Page {{ weeks.number }}</span>
                {% if weeks.has_next %}
                    <button><a href="?page={{ weeks.next_page_number }}">Next</a></button>
                    <!-- <button><a href="?page={{ weeks.paginator.num_pages }}">Last</a></button> -->
                {% endif %}
            </div>
        </div>
        <div class="column mobColumn"></div>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>