{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <h2>Viewing week - {{week.title}}</h2>
        <div class="column">

            <!-- If no days logged for this week show form and saying -->
            {% if days == False %}
                <div class="column alt">
                    <h3>You currently have no logs or days created for this week why not add one</h3>
                    <button id="showCreateDay">Open Form</button>
                    <form action="/logs/week/{{week.id}}/createDay/" method='post' class="create" id="hideCreateDay">
                        {% csrf_token %}
                        <section>
                            <label for="day">Day</label>
                            <select name="day">
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </section>
                        <button>Create Day</button>
                    </form>
                </div>
            {% else %}

            <!-- Otherwise show this form and the days created -->
                <form action="/logs/week/{{week.id}}/createDay/" method='post' class="create">
                    {% csrf_token %}
                    <section>
                        <label for="day">Day</label>
                        <select name="day">
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </section>
                    <button>Create Day</button>
                </form>

                <!-- Looping through the days -->
                <div class="row">
                    {% for day in days %}
                        <div class="column">
                            <h3>{{day.day}} - {{day.date}}</h3>
                            <!-- buttons to view / edit day -->
                            <div class="row">
                                <button><a href="/logs/week/{{week.id}}/day/{{day.id}}/">View Day</a></button>
                            </div>
                            <h3>Current Log Count</h3>
                            <table>
                                {% for count in dayCounts %}
                                {% if count.id == day.id %}
                                    <tr>
                                        <th>Mood / Symptoms Logged: </th>
                                        <td>{{count.moodCount}}</td>
                                    </tr>
                                    <tr>
                                        <th>Water Drank: </th>
                                        <td>{{count.waterCount}}</td>
                                    </tr>
                                    <tr>
                                        <th>Medications Logged</th>
                                        <td>{{count.medCount}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </table>
                        </div>                    
                    {% endfor %}
                </div>
                <div class="row"></div>
            {% endif %}
        </div>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>