{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <span>{{site}}</span>
        <div class="column">
            {% if days == False %}
                <div class="column alt">
                    <h3>You currently have no days logged for this week why not add one</h3>
                    <button id="showCreateDay">Add a Day</button>
                    <form action="/logs/week/{{week.id}}/createDay/" method='post' class="create" id="hideCreateDay">
                        {% csrf_token %}
                        <section>
                            <label for="day">Day</label>
                            <select name="day">
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                                <option value="Saturday">Saturday</option>
                            </select>
                        </section>
                        <button>Create Day</button>
                    </form>
                </div>
            {% else %}
                <form action="/logs/week/{{week.id}}/createDay/" method='post' class="create">
                    {% csrf_token %}
                    <section>
                        <label for="day">Day</label>
                        <select name="day">
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </section>
                    <button>Create Day</button>
                </form>
                <div class="row">
                    {% for day in days %}
                        <div class="column">
                            <h3>{{day.day}} - {{day.date}}</h3>
                            <div class="row">
                                <!-- buttons to view / edit day -->
                                <button><a href="/logs/week/{{week.id}}/day/{{day.id}}/">View Day</a></button>
                                <button><a href="/logs.week/{{week.id}}/day/{{day.id}}/edit/">Journal Entry</a></button>
                            </div>
                            <div class="row">
                                <!-- buttons to add entries to each day -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>