{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <h1>Viewing - {{day.day}} of week {{week.title}}</h1>
        <div class="row">
            <div class="column left">
                <div class="column">
                    <h3>Water Consumed today: 
                        {% if water == False %}
                            0
                        {% else %}
                            {{water}}
                        {% endif %}
                    </h3>
                    {% if water == False %}
                        <form action="/logs/week/{{week.id}}/day/{{day.id}}/createWater">
                            {% csrf_token %}
                            <button>Drank Water</button>
                        </form>
                    {% else %}
                        <form action="/logs/week/{{week.id}}/day/{{day.id}}{{water.id}}/updateWater">
                            {% csrf_token %}
                        </form>
                    {% endif %}
                </div>
                {% if user.profile.food == 1 %}
                    <form action="">
                        {% csrf_token %}
                        <button>Add Food</button>
                    </form>
                {% endif %}
                {% if user.profile.diabetic == 1 %}
                    <form action="">
                        {% csrf_token %}
                        <button>Add Sugar Reading</button>
                    </form>
                {% endif %}
                {% if user.profile.meds == 1 %}
                    <form action="">
                        {% csrf_token %}
                        <button>Add Medication Taken</button>
                    </form>
                {% endif %}
                {% if user.profile.mood == 1 %}
                    <form action="">
                        {% csrf_token %}
                        <button>Add Mood/Symptom</button>
                    </form>
                {% endif %}
                {% if user.profile.journal == 1 %}
                    {% if journal == False %}
                        <form action="/logs/week/{{week.id}}/day/{{day.id}}/createJournal/" method="post">
                            {% csrf_token %}
                            <section>
                                <label for="title">Title of Entry</label>
                                <input type="text" name="title">
                            </section>
                            <section>
                                <label for="content">Entry</label>
                                <textarea name="content" id="" cols="30" rows="10"></textarea>
                            </section>
                            <button>Add Journal Entry</button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if user.profile.sleep == 1 %}
                    <form action="">
                        {% csrf_token %}
                        <button>Add Sleep times</button>
                    </form>
                {% endif %}
            </div>
            <div class="column mid">
                <div></div>
                {% if user.profile.food == 1 %}
                    <div></div>
                {% endif %}
                {% if user.profile.diabetic == 1 %}
                    <div></div>
                {% endif %}
                {% if user.profile.meds == 1 %}
                    <div></div>
                {% endif %}
                {% if user.profile.mood == 1 %}
                    <div></div>
                {% endif %}
                {% if journal != False %}
                    <div>
                        <h3>{{journal.title}}</h3>
                        <p>{{journal.content}}</p>
                    </div>
                {% endif %}
                {% if user.profile.sleep == 1 %}
                    <div></div>
                {% endif %}
            </div>
            <div class="column right">
                <button>Open Symptom Form</button>
                <div></div>
                <button>Open Medication Form</button>
                <div></div>
            </div>
        </div>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>

value="/logs/week/{{week.id}}/day/{{day.id}}/"