{% load static %}
{% load customFilters %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <h1>Viewing - {{day.day}} of week {{week.title}}</h1>
        <div class="back">
            <a href="{{url}}">Back to View Week</a>
        </div>
        <div class="row desktop">
            <div class="column left">
                {% block addToDayForms %}
                    {% include 'components/addToDay.html' %}
                {% endblock addToDayForms %}
            </div>
            <div class="column mid">
                {% block displayDay %}
                    {% include 'components/displayDay.html' %}
                {% endblock displayDay %}
            </div>
            <div class="column right">
                {% block addToBankForms %}
                    {% include 'components/addToBank.html' %}
                {% endblock addToBankForms %}
            </div>
        </div>


        <div class="mobile">
            <div class="left">

            </div>
            <div class="right">

            </div>
        </div>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>

