.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@ltbg: #F5F3F5;
@ltfont: #080C0D;
@lt01: #CF508D;
@lt02: #3349B9;
@lt03: #DD8365;
@lt04: #54F1C4;
@ltboxbg: #E0D0D1;
@dkbg: #080C0D;
@dkfont: #E0D0D1;
@dk01: #991A3C;
@dk02: #2294B5;
@dk03: #DBB42A;
@dk04: #1DE172;
@dkboxbg: #546867;

@ltheaderbg: #e0d0d17a;
@dkheaderbg: #5468677a;
@ltbuttonbg: #3349b980;
@dkbuttonbg: #2295b580;
@ltbodybg: #e0d0d197;
@dkbodybg: #54686781;



body {
  // .flexcolumn();
  // justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  margin: 0px;

  #root {
    // .flexcolumn();
    text-align: center;
    padding: 1em;
    height: 100vh;
    width: 100vw;
    // border: 2px @lt02 groove;

    .loading {
      .flexcolumn();
      color: white;

      img {
        max-width: 300px;
      }
    }
    form {
      .flexcolumn();
      font-size: 1.2em;

      label {
        .flexcolumn();
        margin: 1em;
      }
      input, select {
        height: 2em;
        box-shadow: 5px 5px #3349B9;
        border: 1px solid #3349B9;
      }
      button {
        text-decoration: none;
        padding: 1em;
        margin: 0.5em;
        border-radius: 30%;
        box-shadow: 5px 5px #3349B9;
        border: 1px solid #3349B9;
        color: #080C0D;
        font-weight: 900;
      }
    }
  }
}