{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <h1>Chat with fellow Developers</h1>
        <button class="enterChat" onclick="sendUserInfo({{user.id}})">Enter Chat</button>
        <form action="">
            
        </form>
        <!-- <div class="popup">
            <div class="cnt223">
                <h1>Coming Soon</h1>
                <a href='/choseRole/' class='close'>Close</a>
            </div> -->
        </div>
        <h2>Users</h2>
        <div class="row">
            <div class="column">
                <h2>Online Users</h2>
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Chat with User</th>
                    </tr>
                    {% for user in users %}
                        {% if user.is_online %}
                        <tr>
                            <th>{{user.username}}</th>
                            <td>{{user.custom_json.user_role}}</td>
                            <td></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="column">
                <h2>Offline Users</h2>
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Message User</th>
                    </tr>
                    {% for user in users %}
                        {% if not user.is_online %}
                        <tr>
                            <th>{{user.username}}</th>
                            <td>{{user.custom_json.user_role}}</td>
                            <td></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>

    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
    <!-- <script src="{% static 'js/popup.js' %}"></script> -->
</body>
</html>