{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <span id="chat">{{user.id}}</span>
        <iframe src="http://localhost:5173" id="dataUser" frameborder="0"></iframe>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
    <script>
        const iframe = document.getElementById('dataUser')
        var userVar = {{user.id}}
        console.log('theUserVar', userVar)

        iframe.onload = function() {
            iframe.contentWindow.postMessage(userVar, '*')
        }
    </script>
</body>
</html>