@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4TbMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/volkhov/v17/SlGQmQieoJcKemNeQTI.ttf) format('truetype');
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.altflexrow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.altflexcolumn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3 {
  font-weight: 900;
}
button {
  font-size: 1.2em;
}
@media only screen and (max-width: 1050px) {
  body main .desktop {
    display: none;
  }
  body main .mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    justify-content: space-evenly;
  }
  body main .mobile .left {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 33%;
  }
  body main .mobile .left #moodFormMobile,
  body main .mobile .left #UserMedFormMobile {
    display: none;
  }
  body main .mobile .left form {
    margin: 0.5em;
    flex-direction: column;
  }
  body main .mobile .left .lgButton {
    font-size: 1.2em;
    margin: 0.5em;
  }
  body main .mobile .right {
    width: 33%;
  }
  body main .mobile .right #symptomFormMobile,
  body main .mobile .right #MedListFormMobile {
    display: none;
  }
  body main .mobile .right form {
    margin: 0.5em;
  }
  body main .mobile .right .lgButton {
    font-size: 1.2em;
    margin: 0.5em;
  }
}
@media only screen and (max-width: 730px) {
  body main .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 650px) {
  body header nav .icon {
    display: none;
  }
  body header nav #myLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    justify-content: space-evenly;
  }
  body header nav #myLinks a {
    text-decoration: none;
    padding: 1em;
    margin: 0.5em;
    border-radius: 30%;
    box-shadow: 5px 5px #3349B9;
    border: 1px solid #3349B9;
    color: #080C0D;
    font-weight: 900;
  }
}
@media only screen and (min-width: 650px) {
  body.dark header nav #myLinks a {
    border: 1px solid #3349B9;
    color: #E0D0D1;
    box-shadow: 5px 5px #2294B5;
  }
}
