{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block nav %}
    <nav>
        <a href="javascript:void(0);" class="icon" onclick="menu()">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="myLinks">
            {% if site == 'logs' %}
                <a href="/logs">Log Dashboard</a>
                <a href="/choseRole/">Change site application</a>
            {% elif site == 'pLogs' %}
                <a href="/logs">Provider Log Dashboard</a>
            {% elif site == 'chat' %}
                <a href="/chat">Chat Dashboard</a>
            {% elif site == 'tChat' %}
                <a href="/chat">Trainer Dashboard</a>
            {% elif site == 'mChat' %}
                <a href="/chat">Mentor Dashboard</a>
            {% elif site == 'aChat' %}
                <a href="/chat">Chat Admin Dashboard</a>
            {% elif site == 'admin' %}
                <a href="/theAdmin">Admin Dashboard</a>
            {% elif site == 'sAdmin' %}
                <a href="/theAdmin">Admin Dashboard</a>
            {% else %}
                <a href="/">Home</a>
            {% endif %}
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            {% if user %}
                <a href="/profile/">Profile</a>
                <a href="/logout/">Logout</a>
            {% else %}
                <a href="/logReg/">Login / Register</a>
            {% endif %}
        </nav>
    </nav>
    {% endblock nav %}
</body>
</html>     