{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <form action="/user/requestpasscode/" method="post">
            {% csrf_token %}
            <section>
                <label for='username'>Username:</label>
                <input type='text' name='username' >
            </section>
            <h3>OR</h3>
            <section>
                <label for="email">Email: </label>
                <input type="email" name="email">
            </section>
            <button>Send Reset Code</button>
        </form>
        
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>