{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <h1>Welcome to Hive Mentor</h1>
        <h2>Geeks helping Geeks with Mental Health</h2>
        <div>
            <h3>Are you working in a Technical Field?</h3>
            <p>If you answered yes, then welcome. As a disclaimer it's not that we don't want medical professionals for example here, but lets face it if you are in the Tech Field you know you speak a whole different language.  1 and 0. 
                <pre>
                    <code>
                        
                    </code>
                </pre>
            </p>
        </div>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>