@import './less/base.less';
@import './popup.less';
@import './showHide.less';

// Mobile First - 350px
body {
    .flexcolumn();
    background-color: @ltbg;
    color: @ltfont;
    font-family: 'Raleway', sans-serif;
    margin: 2em auto ;
    text-align: center;
    background-image: url(../images/ltBG.jpg);
    background-repeat: repeat no-repeat;
    background-attachment: fixed;
    width: 95%;

    header {
        .flexcolumn();
        background-color: @ltheaderbg;
        border: 1px solid @lt02;
        margin: 1em;
        width: 90%;
        box-shadow: 5px 5px @lt02;

        MARQUEE {
            position: fixed;
            margin-top: -18em;
        }

        .mode {
            font-size: 1.2em;
            .flexcolumn();
            font-weight: 900;

            .change {
                cursor: pointer;
                border: 1px solid @lt01;
                border-radius: 40%;
                width: 90px;
                text-align: center;
                padding: 10px;
                margin: .5em;
                box-shadow: 3px 3px @lt01;
                font-weight: 900;
            }
        }

        nav {
            .flexcolumn();
            margin: 1em;
            flex-wrap: wrap;
            width: 85%;
            justify-content: space-evenly;

            #myLinks {

                a {
                    text-decoration: none;
                    padding: 1em;
                    margin: .5em;
                    border-radius: 30%;
                    box-shadow: 5px 5px @lt02;
                    border: 1px solid @lt02;
                    color: @ltfont;
                    background-color: @ltbgtrasnarent;
                    font-weight: 900;
                    font-size: 1.15em;
                }
                
            }
        }
    }
    div {
        .messages {
            .flexcolumn();
            background-color: @dk01;
            color: #fff;
            padding: 1em;
            margin: .5em;
        }
    }
    main {
        .flexcolumn();
        background-color: @ltbodybg;
        width: 90%;
        border: 1px solid @lt02;
        height: auto;
        padding-bottom: 1em;

        .back {

            a {
                text-decoration: none;
                padding: 1em;
                margin: .5em;
                border-radius: 30%;
                box-shadow: 5px 5px @lt02;
                border: 1px solid @lt02;
                color: @ltfont;
                background-color: @ltbgtrasnarent;
                font-weight: 900;
            }
        }
        // .mobile {

        //     .left {
        //         width: 33%;
    
        //         form {
        //             margin: .5em;
        //         }
        //         .lgButton {
        //             font-size: 1.2em;
        //             margin: .5em;
        //         }
        //     }
        //     .right {
        //         width: 33%;
    
        //         .lgButton {
        //             font-size: 1.2em;
        //         }
        //     }
        // }
        .row {
            .flexrow();
            width: 95%;

            form {
                .flexcolumn();
                font-size: 1.4em;
                margin: 1em;

                section {
                    .flexcolumn();
                }
                button {
                    font-size: .89em;
                    margin: 1em;
                }
            }
            .column {
                .flexcolumn();
                margin: 1em 0;
            }
        }
        .column {
            .flexcolumn();

            ul {
                text-align: left;
                font-weight: 600;
                font-size: 1.2em;
            }

            .column {
                .flexcolumn();
                border: 4px groove @lt04;

                .row {
                    .flexrow();
                }
            }
            .alt {
                border: none;
            }
            .create {
                padding: .5em;

                section {
                    margin: .8em;
                    
                    label, input {
                        margin: .5em;
                    }
                }
                button {
                    margin: .8em;
                }
            }
            .row {
                .flexrow();
                background-color: @ltbodybg;
                width: 100%;
                margin: .5em;

                .column {
                    .flexcolumn();
                    border: 4px groove @lt04;
                    margin: 1em;
                    padding: 1em;

                    .row {
                        .flexrow();
                        
                        button {
                            margin: .5em;
                        }
                    }
                }
            }
        }
        #reg {
            display: none;
        }
        form {
            .flexcolumn();
            font-size: 1.4em;
            margin: 1em;

            section {
                .flexcolumn();
            }
            button {
                font-size: .89em;
                margin: 1em;
            }
        }
        .logReg {
            cursor: pointer;
            border: 1px solid @lt01;
            border-radius: 40%;
            // width: 30px;
            text-align: center;
            padding: 15px;
            margin-left: 8px;
            box-shadow: 3px 3px @lt01;

            a {
                color: @ltfont;
                text-decoration: none;
            }
        }
        .dev {
            border: 2px solid @lt02;
            margin: .5em;
        }
        iframe {
            width: 95%;
            min-height: 600px;
        }
        .mainSection {
            .flexcolumn();
            width: 85%;

            p {
                font-size: 1.3em;
                font-weight: 600;
                width: 75%;
            }
        }
        .mobile {
            .flexcolumn();

            .list {
                .flexcolumn();
                padding-inline-start: 0;
                width: 95%;
                li {
                    list-style: none;
                    text-align: left;
                    font-size: 1.2em;
                    font-weight: 600;
                    margin: .5em;
                    width: 95%;

                    ul {
                        padding-inline-start: 20px;

                        li {
                            .flexrow();
                            justify-content: flex-start;

                            form {
                                .flexcolumn();
                                font-size: 1em;
                                font-weight: 600;
                                margin: 0;

                                button {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            .tracking {
                border: 1px solid @ltbuttonbg;
            }
        }

        // .desktop {
        //     .flexrow();

        //     .left {
        //         width: 33%;
    
        //         form {
        //             margin: .5em;
        //         }
        //         .lgButton {
        //             font-size: 1.2em;
        //             margin: .5em;
        //         }
        //     }
        //     .mid {
        //         width: 33%;
    
        //         .column {
        //             padding: 1em;
        //         }
        //         .lgButton {
        //             font-size: 1.2em;
        //         }
        //     }
        //     .right {
        //         width: 33%;
    
        //         .lgButton {
        //             font-size: 1.2em;
        //         }
        //     }
        // }
    }
    footer {
        .flexcolumn();
        width: 90%;
        background-color: @ltheaderbg;
        border: 1px solid @lt02;
        box-shadow: 5px 5px @lt02;
        margin: 1em;
        font-weight: 600;

        a {
            color: @ltfont;
        }
    }
}
@import './dark.less';
@import './less/media.less';