@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4TbMPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/volkhov/v17/SlGQmQieoJcKemNeQTI.ttf) format('truetype');
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.altflexrow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.altflexcolumn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3 {
  font-weight: 900;
}
button {
  font-size: 1.2em;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
}
.cnt223 a {
  text-decoration: none;
}
.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  z-index: 101;
}
.popup .cnt223 button {
  padding: 1em;
  margin: 1em;
  font-size: 18px;
}
.cnt223 {
  max-width: 700px;
  min-height: 150px;
  margin: 100px auto;
  background: #80BDA2;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  text-align: center;
}
.cnt223 p {
  clear: both;
  color: #454C49;
  /* text-align: justify; */
  font-size: 20px;
  font-family: sans-serif;
}
.cnt223 p a {
  color: #d91900;
  font-weight: bold;
}
.cnt223 .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}
.cnt223 .x:hover {
  cursor: pointer;
}
.none {
  display: none;
}
body header nav #myLinks {
  display: none;
}
body div .session {
  display: none;
}
body main .enterChat {
  display: none;
}
body main .table {
  display: none;
}
body main .column #hideCreateWeek,
body main .column #hideCreateDay {
  display: none;
}
body main .row #reg {
  display: none;
}
body main .row .column #UserFoodForm,
body main .row .column #moodForm,
body main .row .column #UserMedForm,
body main .row .column #symptomForm,
body main .row .column #MedListForm,
body main .row .column #FoodListForm,
body main .row .column #FitnessListForm,
body main .row .column #UserSugarForm,
body main .row .column #UserJournalForm,
body main .row .column #UserSleepForm,
body main .row .column #UserFitnessForm,
body main .row .column #UserWeatherForm,
body main .row .column #UserWeightForm,
body main .row .column #UserWorkForm {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F3F5;
  color: #080C0D;
  font-family: 'Raleway', sans-serif;
  margin: 2em auto ;
  text-align: center;
  background-image: url(../images/ltBG.jpg);
  background-repeat: repeat no-repeat;
  background-attachment: fixed;
  width: 95%;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0d0d17a;
  border: 1px solid #3349B9;
  margin: 1em;
  width: 90%;
  box-shadow: 5px 5px #3349B9;
}
body header MARQUEE {
  position: fixed;
  margin-top: -18em;
}
body header .mode {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
body header .mode .change {
  cursor: pointer;
  border: 1px solid #CF508D;
  border-radius: 40%;
  width: 90px;
  text-align: center;
  padding: 10px;
  margin: 0.5em;
  box-shadow: 3px 3px #CF508D;
  font-weight: 900;
}
body header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  flex-wrap: wrap;
  width: 85%;
  justify-content: space-evenly;
}
body header nav #myLinks a {
  text-decoration: none;
  padding: 1em;
  margin: 0.5em;
  border-radius: 30%;
  box-shadow: 5px 5px #3349B9;
  border: 1px solid #3349B9;
  color: #080C0D;
  background-color: #f5f3f56f;
  font-weight: 900;
  font-size: 1.15em;
}
body div .messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #991A3C;
  color: #fff;
  padding: 1em;
  margin: 0.5em;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e0d0d197;
  width: 90%;
  border: 1px solid #3349B9;
  height: auto;
  padding-bottom: 2em;
}
body main .back a {
  text-decoration: none;
  padding: 1em;
  margin: 0.5em;
  border-radius: 30%;
  box-shadow: 5px 5px #3349B9;
  border: 1px solid #3349B9;
  color: #080C0D;
  background-color: #f5f3f56f;
  font-weight: 900;
}
body main .lgButton {
  font-size: 1.2em;
}
body main .chatRooms {
  border: #3349B9 2px solid;
  padding: 0.5em;
  font-size: 1.2em;
  background-color: #e0d0d197;
}
body main .chatRooms tr td,
body main .chatRooms tr th {
  border: #3349B9 2px solid;
  padding: 0.5em;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .row form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  margin: 1em;
}
body main .row form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row form button {
  font-size: 0.89em;
  margin: 1em;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
body main .row .chat {
  width: 100%;
}
body main .row .chat table {
  border: #3349B9 2px solid;
  padding: 0.5em;
  font-size: 1.2em;
  background-color: #e0d0d197;
}
body main .row .chat table tr td,
body main .row .chat table tr th {
  border: #3349B9 2px solid;
  padding: 0.5em;
}
body main .row .logReg {
  cursor: pointer;
  border: 1px solid #CF508D;
  border-radius: 40%;
  text-align: center;
  padding: 15px;
  margin-left: 8px;
  box-shadow: 3px 3px #CF508D;
}
body main .row .logReg a {
  color: #080C0D;
  text-decoration: none;
}
body main .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .column ul {
  text-align: left;
  font-weight: 600;
  font-size: 1.2em;
}
body main .column .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px groove #54F1C4;
}
body main .column .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .column .alt {
  border: none;
}
body main .column .create {
  padding: 0.5em;
}
body main .column .create section {
  margin: 0.8em;
}
body main .column .create section label,
body main .column .create section input {
  margin: 0.5em;
}
body main .column .create button {
  margin: 0.8em;
}
body main .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e0d0d197;
  width: 100%;
  margin: 0.5em;
}
body main .column .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px groove #54F1C4;
  margin: 1em;
  padding: 1em;
}
body main .column .row .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .column .row .column .row button {
  margin: 0.5em;
}
body main #reg {
  display: none;
}
body main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  margin: 1em;
}
body main form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main form button {
  font-size: 0.89em;
  margin: 1em;
}
body main .logReg {
  cursor: pointer;
  border: 1px solid #CF508D;
  border-radius: 40%;
  text-align: center;
  padding: 15px;
  margin-left: 8px;
  box-shadow: 3px 3px #CF508D;
}
body main .logReg a {
  color: #080C0D;
  text-decoration: none;
}
body main .dev {
  border: 2px solid #3349B9;
  margin: 0.5em;
}
body main iframe {
  width: 95%;
  min-height: 600px;
}
body main .mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
body main .mainSection p {
  font-size: 1.3em;
  font-weight: 600;
  width: 75%;
}
body main .mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .mobile .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  width: 95%;
}
body main .mobile .list li {
  list-style: none;
  text-align: left;
  font-size: 1.2em;
  font-weight: 600;
  margin: 0.5em;
  width: 95%;
}
body main .mobile .list li ul {
  padding-inline-start: 20px;
}
body main .mobile .list li ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
body main .mobile .list li ul li form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}
body main .mobile .list li ul li form button {
  margin: 0;
}
body main .mobile .mid {
  width: 33%;
}
body main .mobile .mid .column {
  padding: 1em;
}
body main .mobile .mid .column .logTable {
  border-collapse: collapse;
  width: 100%;
  margin: 0.2em 0;
}
body main .mobile .mid .column .logTable td,
body main .mobile .mid .column .logTable th {
  border: 1px solid #080c0d6f;
  padding: 8px;
}
body main .mobile .mid .column .logTable tr:nth-child(even) {
  background-color: #E0D0D1;
}
body main .mobile .mid .column .logTable td {
  font-weight: 600;
  font-size: 1.1em;
}
body main .mobile .mid .column .logTable td img {
  border-radius: 50%;
  max-width: 75px;
}
body main .mobile .mid .column .logTable .headerRow {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #080c0d6f;
  color: #E0D0D1;
}
body main .mobile .mid .column .logTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #DD8365;
  color: #E0D0D1;
}
body main .mobile .mid .lgButton {
  font-size: 1.2em;
}
body main .mobile .right {
  width: 33%;
}
body main .mobile .right .lgButton {
  font-size: 1.2em;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #e0d0d17a;
  border: 1px solid #3349B9;
  box-shadow: 5px 5px #3349B9;
  margin: 1em;
  font-weight: 600;
}
body footer a {
  color: #080C0D;
}
body.dark {
  background-color: #080C0D;
  background-image: url(../images/dkBG.jpg);
  color: #E0D0D1;
}
body.dark header {
  background-color: #5468677a;
  box-shadow: 5px 5px #2294B5;
  border: 1px solid #2294B5;
}
body.dark header .mode .change {
  border: 1px solid #991A3C;
  box-shadow: 3px 3px #991A3C;
  background-color: #991a3c3c;
}
body.dark header nav #myLinks a {
  border: 1px solid #3349B9;
  color: #E0D0D1;
  box-shadow: 5px 5px #2294B5;
  background-color: #080c0d6f;
}
body.dark main {
  background-color: #4b6867d2;
}
body.dark main .back a {
  border: 1px solid #3349B9;
  color: #E0D0D1;
  box-shadow: 5px 5px #2294B5;
  background-color: #080c0d6f;
}
body.dark main .row .logReg {
  border: 1px solid #991A3C;
  box-shadow: 3px 3px #991A3C;
  background-color: #991a3c3c;
}
body.dark main .row .logReg a {
  color: #E0D0D1;
}
body.dark main .column .row {
  background-color: #4b6867d2;
}
body.dark main iframe#dataUser html body {
  background-color: blue;
}
body.dark footer {
  background-color: #5468677a;
  box-shadow: 5px 5px #2294B5;
  border: 1px solid #2294B5;
}
body.dark footer a {
  color: #E0D0D1;
}
