{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block popup %}
    <div class="popup">
        <div class='cnt223'>
            <h1>Welcome {{user.firstName}}</h1>
            {% if user.level > 1 %}
                <p>You are logged in with a role of {{user.role}}</p>
            {% endif %}
            <p>Please chose what side of the site you would like to start with today.  You can still visit other parts later</p>
        {% if user.level > 9 %}
            <button><a href="/logs/">Load Logs</a></button>
            <button><a href="/chat/">Load Member Chat</a></button>
            <button><a href="/chat/">Load Training</a></button>
            <button><a href="/chat/">Load Mentor Chat</a></button>
            <button><a href="/chat/">Load Chat Admin</a></button>
            <button><a href="/theAdmin/">Load Site Admin</a></button>
            <button><a href="/admin/">Django Site Admin</a></button>
        {% elif user.level > 7 %}
            <button><a href="/logs/">Load Logs</a></button>
            <button><a href="/chat/">Load Member Chat</a></button>
            <button><a href="/chat/">Load Training</a></button>
            <button><a href="/chat/">Load Mentor Chat</a></button>
            <button><a href="/chat/">Load Chat Admin</a></button>
            <button><a href="/theAdmin/">Load Site Admin</a></button>
        {% elif user.level > 5%}
            <button><a href="/logs/">Load Logs</a></button>
            <button><a href="/chat/">Load Member Chat</a></button>
            <button><a href="/chat/">Load Training</a></button>
            <button><a href="/chat/">Load Mentor Chat</a></button>
            <button><a href="/chat/">Load Chat Admin</a></button>
        {% elif user.level > 3 %}
    
            {% if user.role == 'Mentor' %}
                <button><a href="/logs/">Load Logs</a></button>
                <button><a href="/chat/">Load Member Chat</a></button>
                <button><a href="/chat/">Load Training</a></button>
                <button><a href="/chat/">Load Mentor Chat</a></button>
            {% else %}
                <button><a href="/logs/">Load Logs</a></button>
                <button><a href="/logs/">Load Provider</a></button>
            {% endif %}
        {% elif user.level > 1 %}
            <button><a href="/logs/">Load Logs</a></button>
            <button><a href="/chat/">Load Member Chat</a></button>
            <button><a href="/chat/">Load Trainer Chat</a></button>
        {% else %}
            <button><a href="/logs/">Load Logs</a></button>
            <button><a href="/chat/">Load Chat</a></button>
        {% endif %}
        </div>
    </div>
    {% endblock popup %}
</html>