.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
}
.cnt223 a {
  text-decoration: none;
}
.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  z-index: 101;
}
.popup .cnt223 button {
  padding: 1em;
  margin: 1em;
  font-size: 18px;
}
.cnt223 {
  min-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #80BDA2;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  text-align: center;
}
.cnt223 p {
  clear: both;
  color: #454C49;
  /* text-align: justify; */
  font-size: 20px;
  font-family: sans-serif;
}
.cnt223 p a {
  color: #d91900;
  font-weight: bold;
}
.cnt223 .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}
.cnt223 .x:hover {
  cursor: pointer;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9c9ceb;
  color: black;
  font-family: 'Raleway', sans-serif;
  margin: 2em auto ;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
body div .messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D13334;
  color: #fff;
  padding: 1em;
  margin: 0.5em;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .row #reg {
  display: none;
}
body main .row form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}
body main .row form section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row form button {
  font-size: 0.8em;
}
body main .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .column .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px groove #C0DFEB;
}
body main .column .row .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
