{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <div class="desktop">
            <div class="column">
                <h2>Current Information</h2>
                <h3>Find a form below to help us out with issues or suggestions</h3>
                <ul>
                    {% for u in updates %}
                        {% if u.releaseType == 'Current' %}
                                <li>Current Version = {{u.version}}</li>
                                <li>Released - {{u.date}}</li>
                        {% endif %}
                    {% endfor %}
                    <li>Available Features
                        <ul>
                            {% for status in statuses %}
                                {% if status.live == 'Production' %}
                                    {% for f in features %}
                                        {% if status.liveFeature_id == f.id %}
                                            {% for version in versions %}
                                                {% if status.liveVersion_id == version.id %}
                                                <li>{{f.name}} -  {{version.versionNum}}</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <h3>Remaining Features till Next Major Version Release</h3>
                <ul>
                    {% for status in statuses %}
                        {% if status.live == 'Development' %}
                            {% for feature in features %}
                                {% if status.liveFeature_id == feature.id %}
                                    <li>{{feature.name}}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <h2>Version Whats coming up?</h2>
                <ul>
                    <li>Chat App - V2</li>
                    <li>Printable PDF of logs - V2</li>
                    <li>Provider Access - V3</li>
                    <li>Mentor Training for Chat = V3</li>
                    <li>Mobile Friendly CSS - V4</li>
                    <li>Messaging between user and provider - V4</li>
                    <li>Alert System - in app and email V5</li>
                    <li>Mobile App (OS and Android) - V6</li>
                </ul>
                <h3>Currently Version 6 is listed as final but you never know. Check the main README doc from the <a href="https://github.com/beedev-services/hiveMentor">source code</a> for quicker and full updates.</h3>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeLuNVtMoDxS91Oh-Vr0F5eUkIZnP_CmI-D6-NExe0jdIqSSA/viewform?embedded=true" width="640" height="1032" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        </div>
        <div class="column dev">
            <h2>Remaining features to complete version 1</h2>
            <h3>The following are nearing completion and will be released in small batches to finish up version 1</h3>
            <ul>
                <li>Remaining Trackable Features
                    <ol>
                        <li>Fitness Tracking</li>
                        <li>Working hour Tracking (computer use mainly)</li>
                        <li>Diabetic Tracking</li>
                        <li>Journal Tracking</li>
                        <li>Sleep Tracking</li>
                        <li>Weight Tracking</li>
                    </ol>
                </li>
                <li>Styling updates</li>
            </ul>
        </div>
        <div class="column dev">
            <h2>Whats coming up?</h2>
            <ul>
                <li>Chat App - V2</li>
                <li>Printable PDF of logs - V2</li>
                <li>Provider Access - V3</li>
                <li>Mentor Training for Chat = V3</li>
                <li>Mobile Friendly CSS - V4</li>
                <li>Messaging between user and provider - V4</li>
                <li>Alert System - in app and email V5</li>
                <li>Mobile App (OS and Android) - V6</li>
            </ul>
            <h3>Currently Version 6 is listed as final but you never know. Check the main README doc from the <a href="https://github.com/beedev-services/hiveMentor">source code</a> for quicker and full updates.</h3>
        </div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeLuNVtMoDxS91Oh-Vr0F5eUkIZnP_CmI-D6-NExe0jdIqSSA/viewform?embedded=true">Loading…</iframe>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>