{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <div class="row">
            <form action='/user/login/' method='post' id="login">
                {% csrf_token %}
                <section>
                    <label for='username'>Username</label>
                    <input name='username' type='text'>
                </section>
                <section>
                    <label for='password'>Password</label>
                    <input name='password' type='password'>
                </section>
                <button>Sign In</button>
            </form>
            <form action='/user/reg/' method='post' id="reg">
                {% csrf_token %}
                <section>
                    <label for='firstName'>First Name:</label>
                    <input type='text' name='firstName' >
                </section>
                <section>
                    <label for='lastName'>Last Name:</label>
                    <input type='text' name='lastName' >
                </section>
                <section>
                    <label for='username'>Username:</label>
                    <input type='text' name='username' >
                </section>
                <section>
                    <label for="email">Email: </label>
                    <input type="email" name="email">
                </section>
                <section>
                    <label for='password'>Password:</label>
                    <input type='password' name='password' >
                </section>
                <section>
                    <label for='confirm'>Confirm Password</label>
                    <input type='password' name='confirm' >
                </section>
                <button>Submit and Login</button>
            </form>
            <a href="javascript:void(0);" class="icon button" onclick="auth()">
                Or would you like to <span id="text">Register</span>
            </a>
        </div>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>