{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% block head %} {% include 'block/head.html' %} {% endblock head %}
<body>
    {% block header %} {% include 'block/header.html' %} {% endblock header %}
    {% block flash %} {% include 'block/flash.html' %} {% endblock flash %}
    <main>
        <nav>
            <a href="/theAdmin/theCodes/">Reg Codes</a>
        </nav>
        <h3># of Users - {{counts.users}}</h3>
        <h3># of Weeks - {{counts.weeks}}</h3>
        <h3># of Days - {{counts.days}}</h3>
        <form action="/theAdmin/sendUsers/" method="post">
            {% csrf_token %}
            <button>Send Users</button>
        </form>
        <form action="/theAdmin/sendUsersGroups/" method="post">
            {% csrf_token %}
            <label for="chatID">Group Chat ID</label>
            <input type="text" name="chatID" id="">
            <label for="chatAdmin">Chat Admin Username</label>
            <input type="text" name="chatAdmin" id="">
            <button>Send Users To Group</button>
        </form>
        <button><a href="/theAdmin/getUsers/">Get Chat Users</a></button>
        <button><a href="/theAdmin/checkUser/">Check User</a></button>
    </main>
    {% block footer %} {% include 'block/footer.html' %} {% endblock footer %}
</body>
</html>